/* Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Section Styles */
.section {
  border: 1px solid rgb(114, 114, 114);
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 40px 20px 20px 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px rgba(182, 177, 177, 0.8);
  position: relative;
}

.section-title {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ccc;
  color: #000;
  border: 1px solid rgb(114, 114, 114);
  padding: 5px 10px;
  font-size: 1.25em;
  font-weight: bold;
}

/* Specific Title Colors */
#chicken .section-title {
  background: linear-gradient(135deg, #ff6097, #c259ff, #f975d3);
  border-radius: 0 20px 0 20px;
}

#beef .section-title {
  background: linear-gradient(135deg, #ffd84a, #ff8157, #ffaf5a);
  border-radius: 0 20px 0 20px;
}

#sushi .section-title {
   background: linear-gradient(135deg, #daff83, #6ddb7c, #6cdede);
   border-radius: 0 20px 0 20px;
}

/* Text Font Size */
p {
  font-size: 1em;
}

/* Layout for Desktop */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

  .section {
    width: 48%;
    margin-bottom: 20px;
  }

  #chicken {
    order: 1;
  }

  #sushi {
    order: 2;
  }

  #beef {
    width: 100%;
    order: 3;
  }
}
